* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo_place_header {
  z-index: 2;
  width: 151px;
  height: 31px;
  top: 30px;
  left: 64px;
  position: absolute;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

/* Mixing for general rules */
.flex-container_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.front-text {
  z-index: 2;
}

.section-gap_l {
  margin-top: 100px;
}

.section-gap_m {
  padding: 90px 0 90px;
}

.section-gap_s {
  padding: 60px 0 40px;
}

/* header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #F2F2F2;
  overflow: hidden;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  align-self: center;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__text {
  width: 388px;
  bottom: 30px;
  left: 64px;
  position: absolute;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2F80ED;
}

.header__main-illustration {
  height: 608px;
  width: 756px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2F80ED;
}

/* main */
/* description section */
.two-columns {
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  padding-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* digits section */
.section-title {
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  list-style: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

/* including elements with key-value modifiers
for kaufman section */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  padding-top: 80px;
}

/* feynman section */
.feynman {
  height: 790px;
  background-color: #F2F2F2;
  position: relative;
  justify-content: flex-start;
}

.feyman__image {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  padding-top: 100px;
}

.feynman__subtitle {
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
}

/* kaufman section */
.kaufman {
  background-color: #1F1F1F;
  color: white;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
}

/* footer */
.footer {
  min-height: 350px;
  background-color: #1F1F1F;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__author {
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  list-style: none;
}

.footer__column-link {
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
